{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="booking form">
    <title>ADMIN PAGE</title>
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->

<style type="text/css"></style>

</head>
<br>

<center><img src="{% static 'COM LOGO.png' %}" alt="LOGO" width="20%" height="auto"></center>

<br>

<body bgcolor="#E6E6FA">
<div id="container">
<form method="post" id="flogin">
</style>
</head>
<script type="text/javascript">
function save(){
var user = document,getElementByld,("user").value;
var pwd = document,getElementByld,("pwd").value;
}
</script>
</head>

<boby bgcolor=#E6E6FA>

    {% block content %}

<form name="regi" action="register1.jsp" method="POST">
<h2>ADMIN FORM</h2>
<ul></ul>
<h4>Event Details</h4>
<ul></ul>
<div class="event-registration-form-box">
<div class="label">
<label>Event Name:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Date:</label>
<input type="date" class="form-control" select-date">
</div>
<ul></ul>
<div class="event-registration-form-box">
<div class="label">
<label>Event Duration(days):</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Time(from-till):</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<h4>Physical Address</h4>
<div class="event-registration-form-box">
<div class="label">
<label>Line 01:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Line 02:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Suburb/Township:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>City:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Manucipality:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Province:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Code:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<div class="label">
<label><h4>Perpose of the event</h4></label>
<input type="text" class="form control" placeholder=" "<br/>
<ul></ul>
<h4>Admin Details</h4>
<ul></ul>
<div class="radio-btn">
<input type="radio" class="btn" name="check" checked="checked"><span>Mr</span>
<input type="radio" class="btn" name="check"><span>Mrs</span>
<input type="radio" class="btn" name="check"><span>Ms</span>
</div>
<div class="event-registration-form-box">
<div class="label">
<label>Full Names:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Surname:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="radio-btn">
<input type="radio" class="btn" name="check" checked="checked"><span>Male</span>
<input type="radio" class="btn" name="check"><span>Female</span>
<input type="radio" class="btn" name="check"><span>Black</span>
<input type="radio" class="btn" name="check"><span>White</span>
<input type="radio" class="btn" name="check"><span>Coloured</span>
</div>
<div class="label">
<label>Known as:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Identity number:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Position:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Cell:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Alt numnber:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Fax number:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Email Address:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Nationality:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Race:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<h4>Organasing Body</h4>

<label for="r1" id="fn">Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<ul></ul>
<label for="r2" id="bt">CEO: &nbsp;&nbsp;&nbsp;</label>
<input type="text" name=”btype” id="r2"><br/>
<ul></ul>
<div class="label">
<label>Cell:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Alt numnber:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Fax number:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Email Address:</label>
<input type="text" class="form control" placeholder=" "<br/>
<ul></ul>
<h4>Host</h4>
<label for="r1" id="fn">Company Name: </label>
<input type="text" name="Cname" id="r1"><br/>
<ul></ul>
<label for="r2" id="bt">Contact Person:&nbsp;</label>
<input type="text" name=”btype” id="r2"><br/>
<ul></ul>
<div class="label">
<label>Cell:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Alt numnber:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Fax number:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<h4>Physical Address</h4>
<div class="event-registration-form-box">
<div class="label">
<label>Line 01:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Line 02:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Suburb/Township:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>City:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<ul></ul>
<div class="label">
<label>Manucipality:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Province:</label>
<input type="text" class="form control" placeholder=" "<br/>
<label>Code:</label>
<input type="text" class="form control" placeholder=" "<br/>
</div>
<h4>Stack Holders</h4>
<br/><div class="radio-btn"></div>
<label for="r1" id="fn">(01)Company Name:</label>
<input type="text" name="Cname" id="r1">

<input type="radio" class="btn" name="check" checked="checked"><span>Attendance Confirmed</span>
</div>

<label for="r1" id="fn">(02)Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<label for="r1" id="fn">(03)Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<label for="r1" id="fn">(04)Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<label for="r1" id="fn">(05)Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<label for="r1" id="fn">(06)Company Name:</label>
<input type="text" name="Cname" id="r1"><br/>
<ul></ul>


<button = import>
<value="import" id="sub">import</button>

<a href="this PC.html"><select from the PC id="this PC"></select></a>


<div class="radio-btn">
<input type="radio" class="btn" name="check" checked="checked"><span>import</span>
<input type="radio" class="btn" name="check"><span>export</span>
</div>
<br>
<br>

<button = CHOOSE FILE>
<value="CHOOSE FILE" id="sub">CHOOSE FILE</button>
<input type="url" />

<ul>
    <button type="submit" value="SUBMIT" id="button">SUBMIT</button>
    <button type="next" value="NEXT" id="button">NEXT</button>
    <button type="log out" value="LOG OUT" id="button">LOG OUT</button>
    <a href="login.html">Back to Home</a>
    </ul>

{% endblock %}

</body>
</html>
