{% extends 'home.html' %}

<!DOCTYPE html>
<html>

<title>CHANGE PASSWORD PAGE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<br>
<center><img  id="logo" src="{% static 'COM LOGO.png' %}" alt="Image" height="150px" width="auto"></center>
</br>
{% block content %}
<h2>CHANGE PASSWORD</h2>
<body>

<!-- <div style="background-image: url('https://images.assetsdelivery.com/compings_v2/flippo/flippo0708/flippo070800197.jpg');"> -->

    <body bgcolor="#E6E6FA">
        <div id="container">
          <form action="change_password" method="post" id="fchangepassword">
            <label for="opass" id="op" style="">Old Password</label>
            <input type="password" name="opass" placeholder="Enter Old Password" id="opass"><br/><br/>
            <label for="npass" id="np" style="">New Password</label>
            <input type="password" name="npass" placeholder="Enter New Password" id="opass"><br/><br/>
            <label for="npass1" id="np" style="">New Password</label>
            <input type="password" name="npass" placeholder="Confirm New Password" id="opass"><br/><br/>
            
            <ul>
            <a>*Use 6 to 12 characters.</a>
            </ul>
            <ul>
            <a>*Besides letters, include at least a number or symbol (!@#$%*-_+=).</a>
            </ul>
            <ul>
            <a>*Password is case sensitive.</a>
            </ul>
            <ul>
            <a>*Avoid using the same password for multiple sites.</a>
            </ul>

            <button type=”CHANGE_PASSWORD” name="click"    
            value="change_password" id="sub" onclick="alert('Password changed successful')">CHANGE PASSWORD
            </button>
            <a href="home.html" style="color:blue">Back to home</a>
        </div>
{% endblock content %}
        
    </body>
</html>