{% extend "home.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>FORGOT PASSWORD PAGE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<br>
<center><img  id="logo" src="{% static 'COM LOGO.png' %}" alt="Image" height="150px" width="auto"></center>
</br>
</head>
<body>
  <header>
  <h2>FORGOT PASSWORD</h2>
{% block content %}
<!-- <div style="background-image: url('https://images.assetsdelivery.com/compings_v2/flippo/flippo0708/flippo070800197.jpg');"> -->
  </header>
 

<body bgcolor="#E6E6FA">
<div id="container">
  <form action="login" method="post" id="flogin">
    
    <label for="upass" id="ps" style ="">New Password&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="password" name="pass" placeholder="Enter New Password" id="upass"><br/><br/>
    <label for="upass" id="ps" style ="">Confirm Password</label>
    <input type="password" name="pass" placeholder="Enter New Password" id="upass"><br/><br/>
    <label for="mobile_number" id="e" style="">Mobile Number&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="int" name="number" placeholder="Enter Mobile Number" id="mnumber"><br/><br/>
    <label for="email" id="e" style="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="email" name="email" placeholder="Enter Email" id="uemail"><br/><br/>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <a>Please choose option for confirmation</a>
    
    <button type="sms" value="sms" id="button">SMS</button>
    <value="sms" id="sub" onclick="alert('sms sent to your in box for your confirmation')"></a>
    
    <button type="email" value="EMAIL" id="button">EMAIL</button>
    <value="email" id="sub" onclick="alert('email sent to your mail box for your confirmation')"></a>
    <ul>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" value="submit" id="button">SUBMIT</button>
    <a href="login.html">Back to Home></a>
    </ul>   

  </form>
</div>
{% endblock %}
</body>
</html>
